<div class="card mb-4">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><strong><%= user.name %></strong> </p>
        <p class="subtitle is-6"><small><%= user.email %> </small></p>
      </div>
    </div>
    <div class="content">
      <%= link_to 'See Profile',  user_path(user), class: 'profile-link button is-primary' %>
      <% if current_user.id != user.id %>
        <% if !friends?(user.id) %>
          <%= button_to 'Add friend', {:controller => "friendships", :action => "create", :friend_id => user.id} , :method=>:post, class: "button is-info mt-4"  %>
        <% end %>
      <% end %>
      <% if current_user.id != user.id %>
        <% if friends?(user.id) %>
          <span class="button is-static">Pending Friend Request </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
